@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-ojREtNBeb: 0px;
  --plasmic-token-s-0: var(--token-ojREtNBeb);
  --token-QhBi3mQ8b: 1px;
  --plasmic-token-px: var(--token-QhBi3mQ8b);
  --token-pWdthEdfi: 0.25rem;
  --plasmic-token-1: var(--token-pWdthEdfi);
  --token-Q5i-bUUQB: 0.375rem;
  --plasmic-token-1-5: var(--token-Q5i-bUUQB);
  --token-C5OIkKnT1: 0.5rem;
  --plasmic-token-2: var(--token-C5OIkKnT1);
  --token--KVrzAj2t: 0.625rem;
  --plasmic-token-2-5: var(--token--KVrzAj2t);
  --token-mphx1Xlho: 0.75rem;
  --plasmic-token-3: var(--token-mphx1Xlho);
  --token-GDlLwBTbj: 0.875rem;
  --plasmic-token-3-5: var(--token-GDlLwBTbj);
  --token-36LjsI7vL: 1rem;
  --plasmic-token-4: var(--token-36LjsI7vL);
  --token-_wSplNUSS: 1.25rem;
  --plasmic-token-5: var(--token-_wSplNUSS);
  --token-ADS7W6QvV: 1.5rem;
  --plasmic-token-6: var(--token-ADS7W6QvV);
  --token-3sop2UhSo: 1.75rem;
  --plasmic-token-7: var(--token-3sop2UhSo);
  --token-qFrhtct8K: 2rem;
  --plasmic-token-8: var(--token-qFrhtct8K);
  --token-endGQ4nx_: 2.25rem;
  --plasmic-token-9: var(--token-endGQ4nx_);
  --token-dUwtSrmxI: 2.5rem;
  --plasmic-token-10: var(--token-dUwtSrmxI);
  --token-nQ1oAwhrp: 2.75rem;
  --plasmic-token-11: var(--token-nQ1oAwhrp);
  --token-gldPF2C1c: 3rem;
  --plasmic-token-12: var(--token-gldPF2C1c);
  --token-NuiNa2FVI: 3.5rem;
  --plasmic-token-14: var(--token-NuiNa2FVI);
  --token-GJGZjP6GT: 4rem;
  --plasmic-token-16: var(--token-GJGZjP6GT);
  --token-TF-67GQ0Z: 5rem;
  --plasmic-token-20: var(--token-TF-67GQ0Z);
  --token-Kwwv1fV-L: 6rem;
  --plasmic-token-24: var(--token-Kwwv1fV-L);
  --token-4aXh1Y0b5: 7rem;
  --plasmic-token-28: var(--token-4aXh1Y0b5);
  --token-Vz87J3jFG: 8rem;
  --plasmic-token-32: var(--token-Vz87J3jFG);
  --token-ns7RbHsG1: 9rem;
  --plasmic-token-36: var(--token-ns7RbHsG1);
  --token-vexyY26Ws: 10rem;
  --plasmic-token-40: var(--token-vexyY26Ws);
  --token-oYs9Icg-6: 11rem;
  --plasmic-token-44: var(--token-oYs9Icg-6);
  --token-ceyHDbI2L: 12rem;
  --plasmic-token-48: var(--token-ceyHDbI2L);
  --token-LuCB-lvYA: 13rem;
  --plasmic-token-52: var(--token-LuCB-lvYA);
  --token--voAb1_KE: 14rem;
  --plasmic-token-56: var(--token--voAb1_KE);
  --token-lnucDRyuG: 15rem;
  --plasmic-token-60: var(--token-lnucDRyuG);
  --token-jnLzE66Wd: 16rem;
  --plasmic-token-64: var(--token-jnLzE66Wd);
  --token-8KMZK8WHY: 18rem;
  --plasmic-token-72: var(--token-8KMZK8WHY);
  --token-VKGEZnnqL: 20rem;
  --plasmic-token-80: var(--token-VKGEZnnqL);
  --token-sRxGHvYXD: 24rem;
  --plasmic-token-96: var(--token-sRxGHvYXD);
  --token-DsVkwUyeY: #000000;
  --plasmic-token-black: var(--token-DsVkwUyeY);
  --token-BzCwe2Vml: #ffffff;
  --plasmic-token-white: var(--token-BzCwe2Vml);
  --token-OmMt8ls-8: #f8fafc;
  --plasmic-token-slate-50: var(--token-OmMt8ls-8);
  --token-fMJl-Tt2f: #f1f5f9;
  --plasmic-token-slate-100: var(--token-fMJl-Tt2f);
  --token-w-mQnNrO2: #e2e8f0;
  --plasmic-token-slate-200: var(--token-w-mQnNrO2);
  --token-Yg8azHZNz: #cbd5e1;
  --plasmic-token-slate-300: var(--token-Yg8azHZNz);
  --token-horarrmUA: #94a3b8;
  --plasmic-token-slate-400: var(--token-horarrmUA);
  --token-6NDXgCA0l: #64748b;
  --plasmic-token-slate-500: var(--token-6NDXgCA0l);
  --token-ZFiXhJX5o: #475569;
  --plasmic-token-slate-600: var(--token-ZFiXhJX5o);
  --token-_mvdCVKaP: #334155;
  --plasmic-token-slate-700: var(--token-_mvdCVKaP);
  --token-cGcM_7LeA: #1e293b;
  --plasmic-token-slate-800: var(--token-cGcM_7LeA);
  --token-g4dx44wuG: #0f172a;
  --plasmic-token-slate-900: var(--token-g4dx44wuG);
  --token-RH2O0upNv: #020617;
  --plasmic-token-slate-950: var(--token-RH2O0upNv);
  --token-W0DzRFfkU: #fef2f2;
  --plasmic-token-red-50: var(--token-W0DzRFfkU);
  --token-nEF18SnM9: #fee2e2;
  --plasmic-token-red-100: var(--token-nEF18SnM9);
  --token-IDBkEGUzZ: #fecaca;
  --plasmic-token-red-200: var(--token-IDBkEGUzZ);
  --token-N0NK8Am3A: #fca5a5;
  --plasmic-token-red-300: var(--token-N0NK8Am3A);
  --token-uyckEbbPQ: #f87171;
  --plasmic-token-red-400: var(--token-uyckEbbPQ);
  --token-fK4rncrJJ: #ef4444;
  --plasmic-token-red-500: var(--token-fK4rncrJJ);
  --token-4oLtYBN94: #dc2626;
  --plasmic-token-red-600: var(--token-4oLtYBN94);
  --token-y7TkuN0c4: #b91c1c;
  --plasmic-token-red-700: var(--token-y7TkuN0c4);
  --token-ipZlK61_W: #991b1b;
  --plasmic-token-red-800: var(--token-ipZlK61_W);
  --token-MnxvMimop: #7f1d1d;
  --plasmic-token-red-900: var(--token-MnxvMimop);
  --token-AeRHcPVpe: #450a0a;
  --plasmic-token-red-950: var(--token-AeRHcPVpe);
  --token-yiP-BNeMM: #f0fdf4;
  --plasmic-token-green-050: var(--token-yiP-BNeMM);
  --token-BKTfz6r1O: #dcfce7;
  --plasmic-token-green-100: var(--token-BKTfz6r1O);
  --token-WF3qOUpqN: #bbf7d0;
  --plasmic-token-green-200: var(--token-WF3qOUpqN);
  --token-uAxalDcVi: #86efac;
  --plasmic-token-green-300: var(--token-uAxalDcVi);
  --token-Blc2sY2Hm: #4ade80;
  --plasmic-token-green-400: var(--token-Blc2sY2Hm);
  --token-24poFZAAD: #22c55e;
  --plasmic-token-green-500: var(--token-24poFZAAD);
  --token-_wYae9y6o: #16a34a;
  --plasmic-token-green-600: var(--token-_wYae9y6o);
  --token-GzHV71GJ-: #15803d;
  --plasmic-token-green-700: var(--token-GzHV71GJ-);
  --token-MscWLkgw9: #166534;
  --plasmic-token-green-800: var(--token-MscWLkgw9);
  --token-4McQFY3Rx: #14532d;
  --plasmic-token-green-900: var(--token-4McQFY3Rx);
  --token-QE_pIwXO3: 0.75rem;
  --plasmic-token-xs: var(--token-QE_pIwXO3);
  --token-v8MK9LvpQ: 0.875rem;
  --plasmic-token-sm: var(--token-v8MK9LvpQ);
  --token-05wjqFpDS: 1rem;
  --plasmic-token-base: var(--token-05wjqFpDS);
  --token-NaWciNavU: 1.125rem;
  --plasmic-token-lg: var(--token-NaWciNavU);
  --token-ggdx9h_3V: 1.5rem;
  --plasmic-token-2-xl: var(--token-ggdx9h_3V);
  --token-AwlYeakH9: 1.875rem;
  --plasmic-token-3-xl: var(--token-AwlYeakH9);
  --token-MCFf95ch5: 2.25rem;
  --plasmic-token-4-xl: var(--token-MCFf95ch5);
  --token-ofkHwcHui: 3rem;
  --plasmic-token-5-xl: var(--token-ofkHwcHui);
  --token-CXTal4gxb: 3.75rem;
  --plasmic-token-6-xl: var(--token-CXTal4gxb);
  --token-68fMYXPDC: 4.5rem;
  --plasmic-token-7-xl: var(--token-68fMYXPDC);
  --token-dADtp0d-t: 6rem;
  --plasmic-token-8-xl: var(--token-dADtp0d-t);
  --token-bZgjVyIKI: 8rem;
  --plasmic-token-9-xl: var(--token-bZgjVyIKI);
  --token-SXJn5KOX1: 1rem;
  --plasmic-token-xs-2: var(--token-SXJn5KOX1);
  --token-yU3LrsHHD: 1.25rem;
  --plasmic-token-sm-2: var(--token-yU3LrsHHD);
  --token-iMW5DvC0s: 1.5rem;
  --plasmic-token-base-2: var(--token-iMW5DvC0s);
  --token-QMqAIEE3T: 1.75rem;
  --plasmic-token-lg-2: var(--token-QMqAIEE3T);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-OyBd8xDsgSGL_font-family: "Inter", sans-serif;
  --mixin-OyBd8xDsgSGL_font-size: var(--token-05wjqFpDS);
  --mixin-OyBd8xDsgSGL_font-weight: 400;
  --mixin-OyBd8xDsgSGL_font-style: normal;
  --mixin-OyBd8xDsgSGL_color: var(--token-OmMt8ls-8);
  --mixin-OyBd8xDsgSGL_text-align: left;
  --mixin-OyBd8xDsgSGL_text-transform: none;
  --mixin-OyBd8xDsgSGL_letter-spacing: normal;
  --mixin-OyBd8xDsgSGL_white-space: pre-wrap;
  --mixin-OyBd8xDsgSGL_user-select: text;
  --mixin-OyBd8xDsgSGL_text-decoration-line: none;
  --mixin-OyBd8xDsgSGL_text-overflow: clip;
  --mixin-sBGZgQ5hl4V1_color: #000000;
  --mixin-sBGZgQ5hl4V1_font-weight: 900;
  --mixin-sBGZgQ5hl4V1_font-size: 72px;
  --mixin-sBGZgQ5hl4V1_line-height: 1;
  --mixin-sBGZgQ5hl4V1_letter-spacing: -4px;
  --mixin-sBGZgQ5hl4V1_white-space: pre-wrap;
  --mixin-2uFMd2BFcF0r_color: #000000;
  --mixin-2uFMd2BFcF0r_font-size: 48px;
  --mixin-2uFMd2BFcF0r_font-weight: 700;
  --mixin-2uFMd2BFcF0r_letter-spacing: -1px;
  --mixin-2uFMd2BFcF0r_line-height: 1.1;
  --mixin-2uFMd2BFcF0r_white-space: pre-wrap;
  --mixin-6cukTMDnldjL_color: #0070f3;
  --mixin-6cukTMDnldjL_white-space: pre-wrap;
  --mixin-2mR7phFZcH4a_color: #000000;
  --mixin-2mR7phFZcH4a_font-size: 32px;
  --mixin-2mR7phFZcH4a_font-weight: 600;
  --mixin-2mR7phFZcH4a_letter-spacing: -0.8px;
  --mixin-2mR7phFZcH4a_line-height: 1.2;
  --mixin-2mR7phFZcH4a_white-space: pre-wrap;
  --mixin-EO72rYe_nvoX_color: #000000;
  --mixin-EO72rYe_nvoX_font-size: 24px;
  --mixin-EO72rYe_nvoX_font-weight: 600;
  --mixin-EO72rYe_nvoX_letter-spacing: -0.5px;
  --mixin-EO72rYe_nvoX_line-height: 1.3;
  --mixin-EO72rYe_nvoX_white-space: pre-wrap;
  --mixin-ifq2Ns6Bsk0W_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ifq2Ns6Bsk0W_border-bottom-color: #dddddd;
  --mixin-ifq2Ns6Bsk0W_border-bottom-style: solid;
  --mixin-ifq2Ns6Bsk0W_border-bottom-width: 1px;
  --mixin-ifq2Ns6Bsk0W_border-left-color: #dddddd;
  --mixin-ifq2Ns6Bsk0W_border-left-style: solid;
  --mixin-ifq2Ns6Bsk0W_border-left-width: 1px;
  --mixin-ifq2Ns6Bsk0W_border-right-color: #dddddd;
  --mixin-ifq2Ns6Bsk0W_border-right-style: solid;
  --mixin-ifq2Ns6Bsk0W_border-right-width: 1px;
  --mixin-ifq2Ns6Bsk0W_border-top-color: #dddddd;
  --mixin-ifq2Ns6Bsk0W_border-top-style: solid;
  --mixin-ifq2Ns6Bsk0W_border-top-width: 1px;
  --mixin-ifq2Ns6Bsk0W_border-bottom-left-radius: 3px;
  --mixin-ifq2Ns6Bsk0W_border-bottom-right-radius: 3px;
  --mixin-ifq2Ns6Bsk0W_border-top-left-radius: 3px;
  --mixin-ifq2Ns6Bsk0W_border-top-right-radius: 3px;
  --mixin-ifq2Ns6Bsk0W_font-family: "Inconsolata";
  --mixin-ifq2Ns6Bsk0W_padding-bottom: 1px;
  --mixin-ifq2Ns6Bsk0W_padding-left: 4px;
  --mixin-ifq2Ns6Bsk0W_padding-right: 4px;
  --mixin-ifq2Ns6Bsk0W_padding-top: 1px;
  --mixin-ifq2Ns6Bsk0W_white-space: pre-wrap;
  --mixin-ZLgR8hqQ0iKO_border-left-color: #dddddd;
  --mixin-ZLgR8hqQ0iKO_border-left-style: solid;
  --mixin-ZLgR8hqQ0iKO_border-left-width: 3px;
  --mixin-ZLgR8hqQ0iKO_color: #888888;
  --mixin-ZLgR8hqQ0iKO_padding-left: 10px;
  --mixin-ZLgR8hqQ0iKO_white-space: pre-wrap;
  --mixin-WZ2k3PG-Wcya_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-WZ2k3PG-Wcya_border-bottom-color: #dddddd;
  --mixin-WZ2k3PG-Wcya_border-bottom-style: solid;
  --mixin-WZ2k3PG-Wcya_border-bottom-width: 1px;
  --mixin-WZ2k3PG-Wcya_border-left-color: #dddddd;
  --mixin-WZ2k3PG-Wcya_border-left-style: solid;
  --mixin-WZ2k3PG-Wcya_border-left-width: 1px;
  --mixin-WZ2k3PG-Wcya_border-right-color: #dddddd;
  --mixin-WZ2k3PG-Wcya_border-right-style: solid;
  --mixin-WZ2k3PG-Wcya_border-right-width: 1px;
  --mixin-WZ2k3PG-Wcya_border-top-color: #dddddd;
  --mixin-WZ2k3PG-Wcya_border-top-style: solid;
  --mixin-WZ2k3PG-Wcya_border-top-width: 1px;
  --mixin-WZ2k3PG-Wcya_border-bottom-left-radius: 3px;
  --mixin-WZ2k3PG-Wcya_border-bottom-right-radius: 3px;
  --mixin-WZ2k3PG-Wcya_border-top-left-radius: 3px;
  --mixin-WZ2k3PG-Wcya_border-top-right-radius: 3px;
  --mixin-WZ2k3PG-Wcya_font-family: "Inconsolata";
  --mixin-WZ2k3PG-Wcya_padding-bottom: 3px;
  --mixin-WZ2k3PG-Wcya_padding-left: 6px;
  --mixin-WZ2k3PG-Wcya_padding-right: 6px;
  --mixin-WZ2k3PG-Wcya_padding-top: 3px;
  --mixin-WZ2k3PG-Wcya_white-space: pre-wrap;
  --mixin-KeWdWIqBx-T5_display: flex;
  --mixin-KeWdWIqBx-T5_flex-direction: column;
  --mixin-KeWdWIqBx-T5_align-items: stretch;
  --mixin-KeWdWIqBx-T5_justify-content: flex-start;
  --mixin-KeWdWIqBx-T5_list-style-position: outside;
  --mixin-KeWdWIqBx-T5_padding-left: 40px;
  --mixin-KeWdWIqBx-T5_position: relative;
  --mixin-KeWdWIqBx-T5_list-style-type: disc;
  --mixin-KeWdWIqBx-T5_white-space: pre-wrap;
  --mixin-byxGhrgm6Tnho_display: flex;
  --mixin-byxGhrgm6Tnho_flex-direction: column;
  --mixin-byxGhrgm6Tnho_align-items: stretch;
  --mixin-byxGhrgm6Tnho_justify-content: flex-start;
  --mixin-byxGhrgm6Tnho_list-style-position: outside;
  --mixin-byxGhrgm6Tnho_padding-left: 40px;
  --mixin-byxGhrgm6Tnho_position: relative;
  --mixin-byxGhrgm6Tnho_list-style-type: decimal;
  --mixin-byxGhrgm6Tnho_white-space: pre-wrap;
  --mixin-B5bxrv8zg3T6R_color: #000000;
  --mixin-B5bxrv8zg3T6R_font-size: 20px;
  --mixin-B5bxrv8zg3T6R_font-weight: 600;
  --mixin-B5bxrv8zg3T6R_letter-spacing: -0.3px;
  --mixin-B5bxrv8zg3T6R_line-height: 1.5;
  --mixin-B5bxrv8zg3T6R_white-space: pre-wrap;
  --mixin-ypoOKXetPH6Jc_color: #000000;
  --mixin-ypoOKXetPH6Jc_font-size: 16px;
  --mixin-ypoOKXetPH6Jc_font-weight: 600;
  --mixin-ypoOKXetPH6Jc_line-height: 1.5;
  --mixin-ypoOKXetPH6Jc_white-space: pre-wrap;
  --mixin-Io--f7zB64kzr_color: #3291ff;
  --mixin-Io--f7zB64kzr_white-space: pre-wrap;
  --mixin-aTzNNwByq51_O_white-space: pre-wrap;
  --mixin-ecueMaSBH8hb4_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-OyBd8xDsgSGL_font-family);
  font-size: var(--mixin-OyBd8xDsgSGL_font-size);
  font-weight: var(--mixin-OyBd8xDsgSGL_font-weight);
  font-style: var(--mixin-OyBd8xDsgSGL_font-style);
  color: var(--mixin-OyBd8xDsgSGL_color);
  text-align: var(--mixin-OyBd8xDsgSGL_text-align);
  text-transform: var(--mixin-OyBd8xDsgSGL_text-transform);
  letter-spacing: var(--mixin-OyBd8xDsgSGL_letter-spacing);
  white-space: var(--mixin-OyBd8xDsgSGL_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-sBGZgQ5hl4V1_color);
  font-weight: var(--mixin-sBGZgQ5hl4V1_font-weight);
  font-size: var(--mixin-sBGZgQ5hl4V1_font-size);
  line-height: var(--mixin-sBGZgQ5hl4V1_line-height);
  letter-spacing: var(--mixin-sBGZgQ5hl4V1_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-2uFMd2BFcF0r_color);
  font-size: var(--mixin-2uFMd2BFcF0r_font-size);
  font-weight: var(--mixin-2uFMd2BFcF0r_font-weight);
  letter-spacing: var(--mixin-2uFMd2BFcF0r_letter-spacing);
  line-height: var(--mixin-2uFMd2BFcF0r_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-6cukTMDnldjL_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-2mR7phFZcH4a_color);
  font-size: var(--mixin-2mR7phFZcH4a_font-size);
  font-weight: var(--mixin-2mR7phFZcH4a_font-weight);
  letter-spacing: var(--mixin-2mR7phFZcH4a_letter-spacing);
  line-height: var(--mixin-2mR7phFZcH4a_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-EO72rYe_nvoX_color);
  font-size: var(--mixin-EO72rYe_nvoX_font-size);
  font-weight: var(--mixin-EO72rYe_nvoX_font-weight);
  letter-spacing: var(--mixin-EO72rYe_nvoX_letter-spacing);
  line-height: var(--mixin-EO72rYe_nvoX_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ifq2Ns6Bsk0W_font-family);
  border-radius: var(--mixin-ifq2Ns6Bsk0W_border-top-left-radius)
    var(--mixin-ifq2Ns6Bsk0W_border-top-right-radius)
    var(--mixin-ifq2Ns6Bsk0W_border-bottom-right-radius)
    var(--mixin-ifq2Ns6Bsk0W_border-bottom-left-radius);
  padding: var(--mixin-ifq2Ns6Bsk0W_padding-top)
    var(--mixin-ifq2Ns6Bsk0W_padding-right)
    var(--mixin-ifq2Ns6Bsk0W_padding-bottom)
    var(--mixin-ifq2Ns6Bsk0W_padding-left);
  border-top: var(--mixin-ifq2Ns6Bsk0W_border-top-width)
    var(--mixin-ifq2Ns6Bsk0W_border-top-style)
    var(--mixin-ifq2Ns6Bsk0W_border-top-color);
  border-right: var(--mixin-ifq2Ns6Bsk0W_border-right-width)
    var(--mixin-ifq2Ns6Bsk0W_border-right-style)
    var(--mixin-ifq2Ns6Bsk0W_border-right-color);
  border-bottom: var(--mixin-ifq2Ns6Bsk0W_border-bottom-width)
    var(--mixin-ifq2Ns6Bsk0W_border-bottom-style)
    var(--mixin-ifq2Ns6Bsk0W_border-bottom-color);
  border-left: var(--mixin-ifq2Ns6Bsk0W_border-left-width)
    var(--mixin-ifq2Ns6Bsk0W_border-left-style)
    var(--mixin-ifq2Ns6Bsk0W_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ZLgR8hqQ0iKO_color);
  padding-left: var(--mixin-ZLgR8hqQ0iKO_padding-left);
  border-left: var(--mixin-ZLgR8hqQ0iKO_border-left-width)
    var(--mixin-ZLgR8hqQ0iKO_border-left-style)
    var(--mixin-ZLgR8hqQ0iKO_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-WZ2k3PG-Wcya_font-family);
  border-radius: var(--mixin-WZ2k3PG-Wcya_border-top-left-radius)
    var(--mixin-WZ2k3PG-Wcya_border-top-right-radius)
    var(--mixin-WZ2k3PG-Wcya_border-bottom-right-radius)
    var(--mixin-WZ2k3PG-Wcya_border-bottom-left-radius);
  padding: var(--mixin-WZ2k3PG-Wcya_padding-top)
    var(--mixin-WZ2k3PG-Wcya_padding-right)
    var(--mixin-WZ2k3PG-Wcya_padding-bottom)
    var(--mixin-WZ2k3PG-Wcya_padding-left);
  border-top: var(--mixin-WZ2k3PG-Wcya_border-top-width)
    var(--mixin-WZ2k3PG-Wcya_border-top-style)
    var(--mixin-WZ2k3PG-Wcya_border-top-color);
  border-right: var(--mixin-WZ2k3PG-Wcya_border-right-width)
    var(--mixin-WZ2k3PG-Wcya_border-right-style)
    var(--mixin-WZ2k3PG-Wcya_border-right-color);
  border-bottom: var(--mixin-WZ2k3PG-Wcya_border-bottom-width)
    var(--mixin-WZ2k3PG-Wcya_border-bottom-style)
    var(--mixin-WZ2k3PG-Wcya_border-bottom-color);
  border-left: var(--mixin-WZ2k3PG-Wcya_border-left-width)
    var(--mixin-WZ2k3PG-Wcya_border-left-style)
    var(--mixin-WZ2k3PG-Wcya_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KeWdWIqBx-T5_display);
  flex-direction: var(--mixin-KeWdWIqBx-T5_flex-direction);
  align-items: var(--mixin-KeWdWIqBx-T5_align-items);
  justify-content: var(--mixin-KeWdWIqBx-T5_justify-content);
  list-style-position: var(--mixin-KeWdWIqBx-T5_list-style-position);
  padding-left: var(--mixin-KeWdWIqBx-T5_padding-left);
  position: var(--mixin-KeWdWIqBx-T5_position);
  list-style-type: var(--mixin-KeWdWIqBx-T5_list-style-type);
  flex-column-gap: var(--mixin-KeWdWIqBx-T5_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-byxGhrgm6Tnho_display);
  flex-direction: var(--mixin-byxGhrgm6Tnho_flex-direction);
  align-items: var(--mixin-byxGhrgm6Tnho_align-items);
  justify-content: var(--mixin-byxGhrgm6Tnho_justify-content);
  list-style-position: var(--mixin-byxGhrgm6Tnho_list-style-position);
  padding-left: var(--mixin-byxGhrgm6Tnho_padding-left);
  position: var(--mixin-byxGhrgm6Tnho_position);
  list-style-type: var(--mixin-byxGhrgm6Tnho_list-style-type);
  flex-column-gap: var(--mixin-byxGhrgm6Tnho_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-B5bxrv8zg3T6R_color);
  font-size: var(--mixin-B5bxrv8zg3T6R_font-size);
  font-weight: var(--mixin-B5bxrv8zg3T6R_font-weight);
  letter-spacing: var(--mixin-B5bxrv8zg3T6R_letter-spacing);
  line-height: var(--mixin-B5bxrv8zg3T6R_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ypoOKXetPH6Jc_color);
  font-size: var(--mixin-ypoOKXetPH6Jc_font-size);
  font-weight: var(--mixin-ypoOKXetPH6Jc_font-weight);
  line-height: var(--mixin-ypoOKXetPH6Jc_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Io--f7zB64kzr_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
